<h2>Editar Conta <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "nutris/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, name= "Email" %><br />
    <%= f.email_field :email, id:"email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, name="Senha" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, id:"password", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, name="Confirmação de Senha" %><br />
    <%= f.password_field :password_confirmation, id:"password_confirmation", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, autofocus: true, autocomplete: "nome" %>
  </div>

  <div class="field">
    <%= f.label :crn %><br />
    <%= f.number_field :crn, autofocus: true, autocomplete: "crn" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>
<br>

<%= link_to "Voltar", :back %>
