<p id="notice"><%= notice %></p>

<h1>Retornos</h1>

<table border="1">
  <thead>
  <tr>
    <th>Prontuario</th>
    <th>Data</th>
    <th>Estado</th>
    <th>Retorno</th>
  </tr>
  </thead>

  <tbody>
  <% @retornos.each do |retorno| %>
    <tr>
      <td><%= retorno.prontuario %></td>
      <td><%= retorno.data %></td>
      <% if (retorno.estado) %>
        <td>Retorno Preenchido</td>
      <% else %>
        <td>Retorno não Preenchido</td>
      <% end %>
      <td><%= link_to 'Exibir Retorno', consult_retorno_path(@consult, retorno) %>
        <% if (nutri_signed_in?) %>
          | <%= link_to 'Preencher Retorno', edit_consult_retorno_path(@consult, retorno) %> |
          <%= link_to 'Destruir Retorno', [@consult, retorno], method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
        </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Retorno', new_consult_retorno_path(@consult) %>

