<p id="notice"><%= notice %></p>

<h1>Consults</h1>

<table border="1">
  <thead>
  <tr>
    <th>Prontuario</th>
    <th>Data</th>
    <th>Consulta</th>
    <th>Retornos</th>
  </tr>
  </thead>

  <tbody>
  <% @consults.each do |consult| %>
    <tr>
      <td><%= consult.prontuario %></td>
      <td><%= consult.data %></td>
      <td><%= link_to 'Exibir Consulta', paciente_consult_path(@paciente, consult) %>
        <% if (nutri_signed_in?) %>
          | <%= link_to 'Editar Consulta', edit_paciente_consult_path(@paciente, consult) %> |
          <%= link_to 'Destruir Consulta', [@paciente, consult], method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </td>
      <td><%= link_to 'Retornos', consult_retornos_path(consult) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if (nutri_signed_in?) %>
  <%= link_to 'Nova Consulta', new_paciente_consult_path(@paciente) %>
<% end %>
