<p id="notice"><%= notice %></p>
<style>
    div {
        border: 1px #2E2F30 solid;
        width: 800px;
        height: 250px;
        word-wrap: break-word;
    }
</style>
<h1>Consulta</h1>
<p>
  <strong>Prontuario:</strong>
  <div>
<p>
  <%= @consult.prontuario %>
</p>
</div>
</p>

<p>
  <strong>Data:</strong>
  <%= @consult.data %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @paciente.nome %>
</p>
<% if (nutri_signed_in?) %>
  <%= link_to 'Editar', edit_paciente_consult_path([@paciente, @consult]) %> |
<% end %>
<%= link_to 'Voltar', paciente_consults_path(@paciente) %>
