<!DOCTYPE html>
<html>
  <head>
    <title>ClinicaNutricao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if nutri_signed_in? %>
    Bem Vindo <strong><%= current_nutri.nome %></strong>.<br>
    <%= link_to "Cadastrar Paciente", new_paciente_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Pacientes", index_path, :class => 'navbar-link' %> |
    <%= link_to 'Editar perfil', edit_nutri_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_nutri_session_path, method: :delete, :class => 'navbar-link'  %>
  <% elsif paciente_signed_in? %>
    Logado como: <strong><%= current_paciente.email %></strong>.
    <%= link_to 'Editar perfil', edit_paciente_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_paciente_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Registrar-se", new_nutri_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login de Paciente", new_paciente_session_path, :class => 'navbar-link'  %> |
    <%= link_to "Login de Nutricionista", new_nutri_session_path, :class => 'navbar-link' %>
  <% end %>
  <%= yield %>


  </body>
</html>
